.list {
  display: flex;
  gap: 8px;
}

.link {
  padding: 8px 12px;
  text-decoration: none;
  color: var(--secondary-text-color);
  background-color: var(--main-color);
  border-radius: 6px;
  border: transparent;
}

.link:hover,
.link:focus {
  cursor: pointer;
  background-color: #289b75;
  box-shadow: var(--main-box-shadow);
}
