.list {
  display: flex;
  gap: 8px;
}

.link {
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid var(--main-color);
}

.link:hover,
.link:focus {
  cursor: pointer;
  /* background-color: #289b75; */
  box-shadow: var(--main-box-shadow);
}

.linkRegister {
  composes: link;
  color: var(--secondary-text-color);
  background-color: var(--main-color);
}

.linkLogin {
  composes: link;
  color: var(--main-color);
  background-color: var(--secondary-text-color);
  border: 2px solid var(--main-color);
}
