.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.btn {
  padding: 8px 12px;
  color: var(--secondary-text-color);
  background-color: var(--main-color);
  border-radius: 6px;
  border: transparent;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: #289b75;
  box-shadow: var(--main-box-shadow);
}
